<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    
    <bindings>
      <webHttpBinding>
        <binding name="web_http" bypassProxyOnLocal="false" hostNameComparisonMode="WeakWildcard">
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="StudentDataServiceLib.StudentDataService" behaviorConfiguration="StudentDataServiceMEXBehavior">       
        <endpoint address="" behaviorConfiguration="RESTFriendly" binding="webHttpBinding" contract="StudentDataServiceLib.IStudentData"/>

        <!-- Enable MEX-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <!-- Need to add this so MEX knows the address-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/StudentDataService"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="StudentDataServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web_behavior">
          <webHttp helpEnabled="True"/>
        </behavior>        
        <behavior name="RESTFriendly">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
